body {
	font-family: sans-serif;
	background-color: #f4f4f9;
	margin: 0;
	padding: 0;
}

h1{
	color: #333;
	font-weight: 300;
	margin-top: 50px;
}

.button-container {
	display: inline-block;
	background-color: #fff;
	padding: ;
}