* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: inherit;
  
  }
  :root {
    --background-color1: #1a74e2;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #f5f5f5;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --one-use-color: #1a74e2;
    --two-use-color: #1a74e2;
  }
  body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
  }
  
  header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name {
    color: white;
    margin-left: 10px;
    padding-top: 10px;
  }
  
  .logo {
    font-size: 27px;
    font-weight: 600;
    color: white;
  }
  
  .icn {
    height: 20px;
  }
  .menuicn {
    cursor: pointer;
    color: white;
  }
  
  .picture,
  .logosec {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logosec {
    gap: 60px;
  }
  
  
  .message {
    gap: 40px;
    position: relative;
    cursor: pointer;
  }
  .dp {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid white;
  }
  .main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
  }
  .dpicn {
    height: 42px;
  }
  
  .main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
  }
  
  .main::-webkit-scrollbar-thumb {
    background-image: 
          linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
  }
  .main::-webkit-scrollbar {
    width: 5px;
  }
  .main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
  }
  
  .box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
  
  }
  .navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
  
  }
  .navcontainer::-webkit-scrollbar {
    display: none;
  }
  .navclose {
    width: 80px;
  }
  
  .nav-option {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-option:hover,
  .nav-option.active {
    transform: translateY(-2px);
      background-color: #3498db;
      border: 1px solid #a3cce8;
      border-radius: 1px;
      color: white;
  }
  
  .nav-img {
    height: 22px;
  }
  
  .nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;  
  }
  
  .box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;  
  }
  .box i {
    margin-left: 20px;
    color: white;
  }
  .box i:hover {
    color: black;
  }
  .box:hover {
    transform: scale(1.08);
    
  }
  
  .box:nth-child(1) {
    background-color: var(--one-use-color);
    font-size:35px;
    
  }
  .box:nth-child(2) {
    background-color: var(--two-use-color);
    font-size:35px;
  }
  .box:nth-child(3) {
    background-color: var(--one-use-color);
    font-size:35px;
  }
  .box:nth-child(4) {
    background-color: var(--two-use-color);
    font-size:35px;
  }
  .box:nth-child(5) {
    background-color: var(--one-use-color);
    font-size:35px;
  }
  .box:nth-child(6) {
      background-color: var(--two-use-color);
      font-size:35px;
  }
  .box:nth-child(7) {
      background-color: var(--one-use-color);
      font-size:35px;
  }
  .box:nth-child(8) {
      background-color: var(--two-use-color);
      font-size:35px;
  }
  .box:nth-child(9) {
      background-color: var(--one-use-color);
      font-size:35px;
  }
  .box:nth-child(10) {
      background-color: var(--two-use-color);
      font-size:35px;
  }
  
  .box img {
    height: 50px;
  }
  
  .box .text {
    color: white;
  }
  .text2 {
    color: black;
    font-size: 20px;
  
  }
  .topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    
  }
  
  .topic-heading {
    color: rgb(29, 29, 29);
    font-size: 30px;
    letter-spacing: 3px;
  }
  hr {
    color: rgb(0, 0, 0);
    margin-bottom: 2px;
  }
  
  .welcome {
    min-height: 100px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
   
  }
  
  .report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
  }
  .report-header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
    
  }
  
  .recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #1560bd;
  }
  
  .profile-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
  }
  .profile-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
  }
  
  .profile-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
  }
  
  .recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #1560bd;
  }
  
  .view {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: #1560bd;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  
  .report-topic-heading, .items {
    width: 100%;
    display: contents;
  }
  
  .t-op, .t-op-nextlvl {
    font-size: 18px;
    letter-spacing: 0px;
    padding: 10px 5px;
    text-align: left;
  }
  
  
  .label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
  }
  
  .srchicn {
    color: white; 
  }
  
  .main-receipt {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .main-receipt:after{
  content: "";
  display: table;
  clear: both;
  }
  
  .receipt-header {
    text-align: center;
    background-color: var(--secondary-color);     
    border-radius: 2px;  
    height: 40px;
  }
  
  .receipt-title {
    color: white;
    font-size: 2em;
  }
  
  .receipt-body {
  float: left;
  width: 50%;
  margin-top: 20px;
  }
  
  .receipt-body p {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .qr-body {
    margin: 40px 0 0 100px;
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-download {
    margin: 20px 0 0 27vh;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--background-color1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
  }
  .btn-download:hover,
  .btn-download.active {
  transform: translateY(-2px);
  background-color: #3498db;
  color: white;
  }
  .modal {
    padding-top: 20px;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 90%;
    max-width: 100vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    color: #555;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

.receipt-title {
    padding-bottom: 20px;
    font-size: 37px;
    margin: 0;
    color:black;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.receipt-info {
    flex: 1;
    padding-right: 20px;
}

.qr-code {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 80px;
}

.qr-body {
    max-width: 150%;
    height: auto;
    border: 1px solid #ddd;
    padding: 1px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.btn-download {
    display: block;
    margin: 20px auto 0;
    padding: 12px 25px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #0056b3;
}


