* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: inherit;
  
  }
  :root {
    --background-color1: #1a74e2;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #f5f5f5;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --one-use-color: #1a74e2;
    --two-use-color: #1a74e2;
  }
  body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
  }
  
  header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name {
    color: white;
    margin-left: 10px;
    padding-top: 10px;
  }
  
  .logo {
    font-size: 27px;
    font-weight: 600;
    color: white;
  }
  
  .icn {
    height: 20px;
  }
  .menuicn {
    color: white;
    cursor: pointer;
  }
  
  .picture,
  .logosec {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logosec {
    gap: 60px;
  }
  
  
  .message {
    gap: 40px;
    position: relative;
    cursor: pointer;
  }
  .dp {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid white;
  }
  .main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
  }
  .dpicn {
    height: 42px
  }
  
  .main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
  }
  
  .main::-webkit-scrollbar-thumb {
    background-image: 
          linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
  }
  .main::-webkit-scrollbar {
    width: 5px;
  }
  .main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    margin-top: -10 px;
    
  }
  
  .nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
  
  
  }
  .navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 999;
  
  }
  .navcontainer::-webkit-scrollbar {
    display: none;
  }
  .navclose {
    width: 80px;
  }
  
  .nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-option:hover, 
  .nav-option.active {
    transform: translateY(-2px);
    background-color: #3498db;
    color: white;
  }
  
  .nav-option.active .nav-link h3 {
      color: white;
  }
  
  
  .nav-img {
    height: 22px;
  }
  
  .nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;  
  }
  
  .box {
    flex: 1 1 calc(33.333% - 20px);
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .box i {
    color: white;
  }
  
  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .box-box {
    flex: 1 1 calc(33.333% - 20px);
    background: linear-gradient(to bottom, #1376ee, #3050bd);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  
  }

  .box-box:hover {
    transform: scale(1.03); 
    color: white;
    box-shadow: 0 8px 16px rgba(0, 60, 255, 0.2); 
  }
  
  
  
  .box:nth-child(1) {
    background-color: var(--one-use-color);
    font-size:35px;
  }
  .box:nth-child(2) {
    background-color: var(--two-use-color);
    font-size:35px
  }
  .box:nth-child(3) {
    background-color: var(--one-use-color);
    font-size:35px;
  }
  .box:nth-child(4) {
    background-color: var(--two-use-color);
    font-size:35px;
  }
  .box:nth-child(5) {
    background-color: var(--two-use-color);
    font-size:35px;
  }
  .box:nth-child(6) {
    background-color: var(--two-use-color);
    font-size:35px;
  }
  
  .box img {
    height: 50px;
  }
  
  .box .text {
    color: white;
  }
  
  
  .text2 {
    color: black;
    font-size: 20px;
  
  }
  .topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .topic-heading {
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  
  }
  
  .box i {
    font-size: 50px;
    color: #ffff;
    margin-top: 20px;
  }
  
  .box-box i {
    font-size: 50px;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .welcome {
    min-height: 100px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
   
  }
  
  .report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
  }
  .report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
  }
  
  .recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #1560bd;
  }
  
  .profile-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
  }
  .profile-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
  }
  
  .profile-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
  }
  
  .recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #1560bd;
  }
  
  .view {
    height: 35px;
    width: 90px;
    border-radius: 4px;
    background: radial-gradient(circle, #1560bd, #114ff8);
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .view:hover {
    background: radial-gradient(circle, #0a71ee, #071ff5);
  }
  
  .report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 0;
    align-items: center;
  
  }
  
  .report-topic-heading, .items {
    width: 100%;
    display: contents;
    
  }
  
  .t-op, .t-op-nextlvl {
    font-size: 18px;
    letter-spacing: 0px;
    padding: 10px 5px;
    text-align: left;
  }
  
  
  .label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
  }
  
  .srchicn {
    color: white; 
  }
  
  .table{
    width: 100%;
    gap: 0;
    
    
  }
  
  .table th{
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background: linear-gradient(to bottom, #1560bd, #0c007d);
   color: white;
   text-align: center;
  
  }
  
  .table td{
   border: 1px solid #ddd;
   text-align: center;
   padding-left: 30px;
   padding-right: 30px;
  }
  
  
  .table tr:hover {background-color: #ddd;}
  
  .btn-detail{
    width: 100px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: radial-gradient(circle, #1560bd, #114ff8);
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
  }
  
  .btn-detail:hover{
    background: radial-gradient(circle, #0a71ee, #071ff5);
  
  }
  
  .btn-send{
    width: 100px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #1560bd;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .btn-send:hover{
    background-color: rgb(23, 41, 128);
  
  }
  
  .prof-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  
  .prof-head{
    margin-top: 10px;
    height: 250px;
    width: 400px;
    background: linear-gradient(to bottom, #1376ee, #3050bd);
    color: white;
    border: 1px solix #0c007d;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  
  }
  
  .prof-foot{
    height: 40%;
    width: 400px;
    border-radius: 2px;
    color: #333333;
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    
  
  
  }
  
  .prof-pic{
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
    border: 3px solid;
    border-color: white;
    margin-top: 50px;
  }
  
  .profile-details {
    margin: 30px 8px;
    text-align: left;
  
  }
  
  .profile-details p {
    margin: 5px 0; 
  }
  
  .profile-details strong {
    display: inline-block;
    width: 140px;
    margin-bottom: 5px;
  }
  
  .btn-update{
    width: 100px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #1560bd;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    cursor: pointer;
    margin: auto;
    font-size: 15pxprofile;
  
  }
  
  .btn-update:hover{
    background-color: rgb(23, 41, 128);
  
  }
  
  
  .center-message {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000; 
  }
  
  .center-message.show {
      display: block;
  }
  
  .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;   
  }
  
  .modal-overlay.show {
      display: block;
  }
  
  .fullname {
    justify-content: center;
    align-items: center;
    display: flex;
    color:  rgb(23, 41, 128);
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    
    
  }
  
  .car-icon {
    color: whitesmoke;
  }

  .user-icon {
    color: whitesmoke;
  }

  .main-slot {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
  }